<section class="dox-content">

  <h1>Additional Resources</h1>

  <p>
    The following documents contain additional external perspectives on this topic.
  </p>

  <h2>Articles</h2>
  <ul>
      <li><a href="https://developers.google.com/web/fundamentals/performance/rail" target="_blank">Web Performance Fundamentals</a></li>
      <li><a href="https://ux.stackexchange.com/questions/58163/acceptable-waiting-time-for-users-in-time-sensitive-actions" target="_blank">Wait Times for Users</a></li>
      <li><a href="http://www.agileload.com/agileload/blog/2013/02/18/web-applications-performance-testing-metrics" target="_blank">Performance Testing Metrics</a></li>
      <li><a href="http://www.webperformancetoday.com/2010/06/15/everything-you-wanted-to-know-about-web-performance/" target="_blank">Web Performance</a></li>
      <li><a href="https://www.nngroup.com/articles/response-times-3-important-limits/" target="_blank">NNGroup Response Time Limits</a></li>
      <li><a href="https://www.nngroup.com/articles/website-response-times/" target="_blank">Website Response Times</a> </li>
  </ul>
</section>
