
<clr-main-container>
  <clr-header class="header-6">
      <div class="branding">
          <a routerLink="/home" class="logo-and-title">
              <!-- Design for Interaction Guide -->
              <span class="title">Design for Performance</span>
          </a>
      </div>
      <div class="divider"></div>
      <div class="header-nav" [clr-nav-level]="1">
          <a id="home-link" class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span class="nav-text">Home</span></a>
          <a class="nav-link" routerLink="/components" routerLinkActive="active"><span class="nav-text">Components</span></a>
          <!-- <a class="nav-link" routerLink="/sequences" routerLinkActive="active"><span class="nav-text">Sequences</span></a>-->
          <a class="nav-link" routerLink="/resources" routerLinkActive="active"><span class="nav-text">Resources</span></a>
      </div>
      <div class="settings">
      </div>
  </clr-header>

<div class="content-container">
    <div class="content-area">
      </div>
       <router-outlet></router-outlet>
       <nav class="sidenav" [clr-nav-level]="2">
          <section class="sidenav-content">

          <a class="nav-link" routerLink="/components" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}">Component Status</a>

           <section class="nav-group collapsible">
               <input id="tab1" type="checkbox">
               <label for="tab1">Components</label>
               <ul class="nav-list">
                    <!-- <nav-links type="component"></nav-links> -->
               </ul>
           </section>
          </section>
      </nav>

  </div>

</clr-main-container>
<!--  -->
