
<section class="dox-content">
    <h1 id="introduction">Welcome </h1>
    <p>Design for Performance was created from the evolving need of software technology to continually strive to discover and address the needs of human computer interaction. The designs discussed can be applied to any web technology, regardless of the underlying framework.</p>

    <p>This site was inspired by and built with <a href="https://clarity.design/" target="_blank">Project Clarity</a>, an open source design system that brings together UX guidelines, HTML/CSS framework, and Angular components. More to Come on this Site Spring 2019.
    </p>

    <h2 id="howToUse">How to Use This Guide</h2>
    <p>There are three approaches for utilizing Design for Interaction: just the Interaction guidance, Interaction guidance and the HTML/CSS/JS framework, or put everything together with the Clarity Design System.</p>

    <h3 id="uiInstallation">About Design for Performance</h3>
    <p>Understanding user experience in the context of interaction design can aid in the ability to detect and recommend ways to improve performance in application design. In turn, improving the usability of application design can increase customer satisfaction in products.</p>
    <p>The guidance outlined in this document relates to the performance of user interaction focused on instrumenting systems and applications to collect metrics and logs and then validating the architecture through user insights.</p>
    <p>More background and resources are provided on the site.
    </p>

    <h2 id="attributions">Attributions</h2>
    <p>See more attribution information found on the Project Clarity website  <a href="https://github.com/vmware/clarity/blob/master/ATTRIBUTION.md" target="_blank">legal
        attributions</a> for third party software.
    </p>
    <div style="visibility: hidden; height: 80vh;">This is a spacer to force sidenav highlighting on scroll</div>
</section>
